.navbar-fixed-top li{line-height:24.923076923076923px;}
nav a:hover{zoom:1.1;}
.navbar,.breadcrumb{font-size:13px;line-height:13.68px;}
.breadcrumb{padding:3px 14px;}.breadcrumb li{line-height:24.923076923076923px;}
.modal{left:15%;width:70% ;margin-left:auto;margin-right:auto;}.modal li{line-height:24.923076923076923px;}
li{line-height:37.38461538461539px;}
